# Database
DB_TYPE=postgres
DB_HOST=HOST
DB_PORT=PORT
DB_USERNAME=USER
DB_PASSWORD=PASSWORD
DB_DATABASE=DATABASE

# JWT secrets
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Uploads
UPLOADS_FEATURES_PATH=/uploads/features
UPLOADS_ESTABLISHMENTS_PATH=/uploads/establishments

# Establishments
MINIMUM_COMMENTS=3
GLOBAL_AVERAGE_RATING=1
